.navbar{
    height: 13vh;
    margin-bottom: 0.1vh;
}


    
    

img{
    height: 70vh;


}


.hero-img {
  height: 85vh;
  object-fit: contain;
  filter: brightness(60%);
}
#popular-text{
    align-self: center;
    justify-self: center;
}
.image-container h4{
color: white;
}
.scroll-container {
  display: flex;
  gap: 5vw;             /* space between images */
  padding: 5vw;
  overflow-x: auto;      /* horizontal scrolling enabled */
  scroll-behavior:smooth;
  /* hide scrollbars optionally: */
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE and Edge */
}
.scroll-container::-webkit-scrollbar {
  display: none;         /* Chrome/Safari hide scrollbar */
}

.scroll-container img {
  width: 30vw;
  height: 40vh;
  border-radius: 4%;
  flex-shrink: 0;        /* prevent shrinking */
  cursor: pointer;
  transition: transform 0.3s;
}
.image-container h4{
    color: black;
    font-family:monospace;
}

.scroll-container img:hover{
  transform: scale(1.09); /* zoom effect on hover */
}
.scroll-container p{
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    height:20rem;
}

.carousel-caption {
  background-color: none !important;
  padding: 2rem;
  border-radius: 10px;
}

.category-box {
  transition: transform 0.3s ease;
}
.category-box:hover {
  transform: scale(1.1);
}

.counter {
  font-size: 3rem;
  font-weight: bold;
}

.aos-left {
  animation: slideInLeft 3s forwards;
}
.aos-right {
  animation: slideInRight 3s forwards;
}
@keyframes slideInLeft {
  from { transform: translateX(-100px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}
@keyframes slideInRight {
  from { transform: translateX(100px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

.counter {
  font-size: 2.5rem;
  font-weight: bold;
  
}

.stat-block {
  font-size: 2.5rem;
  font-weight: bold;
  gap: 5px; /* space between number and + */
}

.plus-sign {
  font-size: 2rem;
  line-height: 1;
  vertical-align: top;
}
